In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# Importando DataSet

In [4]:
dataset = pd.read_csv('Employee_Compensation.csv', sep=',')
# dataset = dataset.sample(100000)

In [5]:
to_be_removed = ['Year Type','Union','Department','Organization Group Code','Department Code','Union Code','Job Family Code','Job Code','Job','Employee Identifier', 'Retirement','Health/Dental', 'Other Benefits', 'Salaries', 'Overtime','Other Salaries', 'Total Salary','Total Benefits']
ds = dataset.drop(to_be_removed,axis=1)
ds.head()

,Year,Organization Group,Job Family,Total Compensation
0,2013,Public Protection,Fire Services,258702.08
1,2014,"Public Works, Transportation & Commerce",Semi-Skilled & General Labor,111229.78
2,2016,"Public Works, Transportation & Commerce","Clerical, Secretarial & Steno",63088.88
3,2015,"Public Works, Transportation & Commerce",Street Transit,140221.48
4,2013,"Public Works, Transportation & Commerce",Professional Engineering,105750.33

In [6]:
print(
    len(dataset['Job Family'].unique()),
    len(dataset['Department'].unique())
)

58 56

## Dropando as observações que possuem algum dado faltando

In [7]:
ds[ds.isnull().any(axis=1)].shape

(220, 4)

In [8]:
ds.drop(ds[ds.isnull().any(axis=1)].index, inplace=True)

In [9]:
ds.head()

,Year,Organization Group,Job Family,Total Compensation
0,2013,Public Protection,Fire Services,258702.08
1,2014,"Public Works, Transportation & Commerce",Semi-Skilled & General Labor,111229.78
2,2016,"Public Works, Transportation & Commerce","Clerical, Secretarial & Steno",63088.88
3,2015,"Public Works, Transportation & Commerce",Street Transit,140221.48
4,2013,"Public Works, Transportation & Commerce",Professional Engineering,105750.33

In [10]:
extract_columns = ['Job Family','Organization Group']
_ds = pd.get_dummies(ds, columns=extract_columns, prefix=extract_columns)
_ds.head()

,Year,Total Compensation,Job Family_Administrative & Mgmt (Unrep),Job Family_Administrative Secretarial,Job Family_Administrative-DPW/PUC,Job Family_Administrative-Labor & Trades,Job Family_Agriculture & Horticulture,Job Family_Airport Operation,Job Family_Appraisal & Taxation,"Job Family_Budget, Admn & Stats Analysis",...,Job Family_Sub-Professional Engineering,Job Family_Supervisory-Labor & Trade,Job Family_Y,Organization Group_Community Health,Organization Group_Culture & Recreation,Organization Group_General Administration & Finance,Organization Group_General City Responsibilities,Organization Group_Human Welfare & Neighborhood Development,Organization Group_Public Protection,"Organization Group_Public Works, Transportation & Commerce"
0,2013,258702.08,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2014,111229.78,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2016,63088.88,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2015,140221.48,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2013,105750.33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
_ds.shape

(212982, 66)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [17]:
clf = Ridge(alpha=1.0)

X = _ds.drop(['Total Compensation'], axis=1)
y = _ds['Total Compensation'].tolist()
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [19]:
clf.fit(X_train, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [24]:
predict = clf.predict(X_test)
# linear_predict = linear_reg.predict(X_test)

print("Ridge: ", mean_squared_error(y_test,predict))
# print("Linear: ", mean_squared_error(y_test,linear_predict))

Ridge:  3184965737.691074

In [21]:
predict[:10]

array([ 94875.33544037, 151113.03445243,  74053.02204828,   7633.37765962,
        59832.51735294,  75334.59903794,  96431.6368796 ,  94774.95735261,
       118664.90058358,  16291.95253315])

In [22]:
y_test[:10]

[107945.84,
 7568.71,
 56830.68,
 8010.75,
 10283.96,
 8031.46,
 131453.79,
 219380.58,
 121673.02,
 11414.13]